{% extends 'base.html.twig' %}

{% block title %}Ma super page d'accueil{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="text-center mt-5">Ma super page d'accueil</h1>
            <ul class="mt-5">
                <li>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, eius iste voluptate explicabo aliquam earum dolores architecto doloribus. Ab vitae unde corporis quisquam ex ducimus omnis architecto eligendi quaerat numquam?
                        Officiis temporibus natus fugit, quis odio id, soluta iste doloremque quam corporis magnam iure sequi commodi eius minima dolorem consectetur, a aliquam distinctio harum nam amet tempora cumque! Culpa, facere?
                        Eos eaque expedita officia voluptas beatae itaque ut atque, quas quidem porro laudantium eligendi omnis aliquam cum! Tenetur, animi alias? Qui inventore obcaecati rerum excepturi cupiditate. Consectetur aperiam accusamus hic!
                        Aut quasi aspernatur omnis iusto nobis, excepturi esse quisquam iure consequatur laboriosam? Magnam necessitatibus sint praesentium aspernatur veniam excepturi voluptatem, dolorem, mollitia esse quasi obcaecati nulla aliquid possimus. Autem, quam!
                        Qui nobis, exercitationem perspiciatis enim quod dignissimos velit illum. Quis quos ipsam dolorem ad fugiat? Corrupti, perferendis quas odio veritatis minima ullam accusantium doloribus, rem iste autem quia molestiae vitae.
                        Sapiente illo doloribus tenetur itaque debitis, perferendis ut voluptate dolorum dolor voluptas distinctio natus! Voluptas dicta eum ipsam ad distinctio unde vitae. Dolores quasi quo dolore explicabo veritatis accusantium velit.
                        Quod eos optio aliquam placeat sit quae magni consequuntur iure molestias rerum ut numquam adipisci maxime voluptatum deleniti harum, esse veritatis, fugiat reiciendis fuga ipsum accusantium cupiditate? Nihil, natus? Vero.
                        Quo nisi exercitationem maxime expedita suscipit beatae, iure voluptatum sint magni dolorem doloremque quam itaque aspernatur cupiditate. Voluptatum quaerat soluta, cupiditate ratione dicta doloribus tempore rerum eaque mollitia commodi laborum!
                        Incidunt ullam aliquam exercitationem magni ducimus, eligendi minus nihil repellat totam reiciendis, alias error iusto nulla quidem. Odio aliquam cumque tenetur non sapiente nostrum tempore, voluptatem beatae, mollitia pariatur necessitatibus.
                        Iusto dolorum consequuntur, accusamus, quaerat, molestiae maxime dolorem ea a nihil voluptatum rem repellat tempora natus ipsum velit voluptatem suscipit commodi et! Deserunt reprehenderit ipsum unde quisquam accusamus adipisci harum.
                    </p>
                </li>
                <li>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae distinctio aut asperiores est debitis perspiciatis velit quas ex sunt obcaecati excepturi facere provident rem veritatis quisquam soluta, possimus nisi minima?
                        Minus laboriosam necessitatibus ratione vitae, non quam recusandae veniam atque magnam ea! Accusamus quod harum ullam eius, praesentium officia cumque, quos, veniam et dignissimos rerum animi? Earum, dolore nisi. Saepe?
                        Laudantium incidunt architecto ad blanditiis atque aut? Corporis omnis tenetur quam, dolores ad laborum sit alias maiores. Quibusdam tenetur rerum at error! Nam culpa eaque beatae sit, placeat laudantium optio!
                        Iusto, fuga! Cupiditate quibusdam harum at vitae earum incidunt atque possimus placeat non officia, repellendus delectus provident tempore nostrum pariatur! Culpa vitae, magni at magnam nostrum nihil laudantium laboriosam quibusdam.
                        Ipsa recusandae distinctio cupiditate tempore numquam corporis nam ratione. Neque ex, fuga provident nihil optio recusandae eos. Hic facere totam officiis reprehenderit cumque! Fuga esse tempore laboriosam, accusantium ratione quis?
                        Aperiam doloremque saepe iusto vel mollitia? Iste reiciendis magnam praesentium a animi vel aliquid, neque voluptatum debitis numquam accusantium dolores laborum veniam, corrupti earum quaerat reprehenderit nulla autem distinctio. Fugit!
                        Eius ullam vel consequuntur veniam. Alias dignissimos officia quam totam fuga sequi temporibus laborum itaque consectetur labore unde, vitae hic, minima sint incidunt odio molestias, corporis voluptatibus facilis? Recusandae, ab?
                        Deleniti, at. Sapiente quis quae deleniti tenetur ratione possimus ipsum, iste corrupti a amet ad voluptatem repudiandae laborum alias asperiores explicabo cumque! Molestias totam suscipit blanditiis libero perferendis error nulla.
                        Pariatur, sit. Ratione est accusantium molestias culpa similique libero modi, incidunt expedita, reiciendis provident fuga facilis minima voluptatibus repudiandae. Facilis excepturi doloremque repellendus error fugit quam vitae facere corporis inventore?
                        Facere architecto obcaecati unde tenetur hic explicabo veritatis nemo totam quod sed numquam quidem possimus inventore animi incidunt, ratione ad repellendus, placeat asperiores quibusdam, repellat sint? Nostrum blanditiis obcaecati quae?
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
