{% extends 'base.html.twig' %}

{% block title %}C.G.U.{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="text-center mt-5">C.G.U.</h1>
            <ol class="mt-5">
                <li>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, eius iste voluptate explicabo aliquam earum dolores architecto doloribus. Ab vitae unde corporis quisquam ex ducimus omnis architecto eligendi quaerat numquam?
                        Officiis temporibus natus fugit, quis odio id, soluta iste doloremque quam corporis magnam iure sequi commodi eius minima dolorem consectetur, a aliquam distinctio harum nam amet tempora cumque! Culpa, facere?
                        Eos eaque expedita officia voluptas beatae itaque ut atque, quas quidem porro laudantium eligendi omnis aliquam cum! Tenetur, animi alias? Qui inventore obcaecati rerum excepturi cupiditate. Consectetur aperiam accusamus hic!
                        Aut quasi aspernatur omnis iusto nobis, excepturi esse quisquam iure consequatur laboriosam? Magnam necessitatibus sint praesentium aspernatur veniam excepturi voluptatem, dolorem, mollitia esse quasi obcaecati nulla aliquid possimus. Autem, quam!
                        Qui nobis, exercitationem perspiciatis enim quod dignissimos velit illum. Quis quos ipsam dolorem ad fugiat? Corrupti, perferendis quas odio veritatis minima ullam accusantium doloribus, rem iste autem quia molestiae vitae.
                        Sapiente illo doloribus tenetur itaque debitis, perferendis ut voluptate dolorum dolor voluptas distinctio natus! Voluptas dicta eum ipsam ad distinctio unde vitae. Dolores quasi quo dolore explicabo veritatis accusantium velit.
                        Quod eos optio aliquam placeat sit quae magni consequuntur iure molestias rerum ut numquam adipisci maxime voluptatum deleniti harum, esse veritatis, fugiat reiciendis fuga ipsum accusantium cupiditate? Nihil, natus? Vero.
                        Quo nisi exercitationem maxime expedita suscipit beatae, iure voluptatum sint magni dolorem doloremque quam itaque aspernatur cupiditate. Voluptatum quaerat soluta, cupiditate ratione dicta doloribus tempore rerum eaque mollitia commodi laborum!
                        Incidunt ullam aliquam exercitationem magni ducimus, eligendi minus nihil repellat totam reiciendis, alias error iusto nulla quidem. Odio aliquam cumque tenetur non sapiente nostrum tempore, voluptatem beatae, mollitia pariatur necessitatibus.
                        Iusto dolorum consequuntur, accusamus, quaerat, molestiae maxime dolorem ea a nihil voluptatum rem repellat tempora natus ipsum velit voluptatem suscipit commodi et! Deserunt reprehenderit ipsum unde quisquam accusamus adipisci harum.
                    </p>
                </li>
                <li>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae distinctio aut asperiores est debitis perspiciatis velit quas ex sunt obcaecati excepturi facere provident rem veritatis quisquam soluta, possimus nisi minima?
                        Minus laboriosam necessitatibus ratione vitae, non quam recusandae veniam atque magnam ea! Accusamus quod harum ullam eius, praesentium officia cumque, quos, veniam et dignissimos rerum animi? Earum, dolore nisi. Saepe?
                        Laudantium incidunt architecto ad blanditiis atque aut? Corporis omnis tenetur quam, dolores ad laborum sit alias maiores. Quibusdam tenetur rerum at error! Nam culpa eaque beatae sit, placeat laudantium optio!
                        Iusto, fuga! Cupiditate quibusdam harum at vitae earum incidunt atque possimus placeat non officia, repellendus delectus provident tempore nostrum pariatur! Culpa vitae, magni at magnam nostrum nihil laudantium laboriosam quibusdam.
                        Ipsa recusandae distinctio cupiditate tempore numquam corporis nam ratione. Neque ex, fuga provident nihil optio recusandae eos. Hic facere totam officiis reprehenderit cumque! Fuga esse tempore laboriosam, accusantium ratione quis?
                        Aperiam doloremque saepe iusto vel mollitia? Iste reiciendis magnam praesentium a animi vel aliquid, neque voluptatum debitis numquam accusantium dolores laborum veniam, corrupti earum quaerat reprehenderit nulla autem distinctio. Fugit!
                        Eius ullam vel consequuntur veniam. Alias dignissimos officia quam totam fuga sequi temporibus laborum itaque consectetur labore unde, vitae hic, minima sint incidunt odio molestias, corporis voluptatibus facilis? Recusandae, ab?
                        Deleniti, at. Sapiente quis quae deleniti tenetur ratione possimus ipsum, iste corrupti a amet ad voluptatem repudiandae laborum alias asperiores explicabo cumque! Molestias totam suscipit blanditiis libero perferendis error nulla.
                        Pariatur, sit. Ratione est accusantium molestias culpa similique libero modi, incidunt expedita, reiciendis provident fuga facilis minima voluptatibus repudiandae. Facilis excepturi doloremque repellendus error fugit quam vitae facere corporis inventore?
                        Facere architecto obcaecati unde tenetur hic explicabo veritatis nemo totam quod sed numquam quidem possimus inventore animi incidunt, ratione ad repellendus, placeat asperiores quibusdam, repellat sint? Nostrum blanditiis obcaecati quae?
                    </p>
                </li>
                <li>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit vitae saepe aperiam officiis voluptatum quod tempora autem magni eum dolor, ipsum tenetur, expedita assumenda excepturi? Molestiae, odit eos? Nulla, vitae!
                        Repudiandae minus sunt molestias est expedita maxime pariatur dolorem numquam, velit quis inventore aliquid distinctio, possimus corrupti aspernatur illo quas facere ullam. Voluptates itaque esse vitae libero, sapiente expedita ea.
                        Soluta aperiam, beatae cupiditate necessitatibus voluptatem harum error itaque nemo magni perspiciatis inventore aut quisquam debitis ipsum eius, dicta doloribus. Labore nulla eveniet ut consectetur explicabo delectus odit illo praesentium.
                        Eligendi, fugiat. Eos sed eum dolorem libero corrupti, itaque nulla accusantium quibusdam labore quisquam maxime beatae. Omnis sapiente tenetur iusto maiores, quidem hic officia quo enim dolor saepe ipsa numquam.
                        Rem doloremque fuga nesciunt nisi nobis, at voluptate totam quas quibusdam iure atque beatae illo fugiat earum? Incidunt molestiae animi unde perspiciatis suscipit, repellat perferendis ab. Quibusdam eius numquam expedita?
                        Delectus illo molestias magni veritatis doloremque, consectetur laborum in doloribus, fugiat sed illum ipsa rerum accusamus quam suscipit tempora deserunt, expedita harum accusantium. Mollitia sint cumque corrupti fugiat quis quam!
                        Tenetur hic quia distinctio inventore. Magnam dolorem laboriosam quidem quisquam vero non consequuntur blanditiis aliquid velit cumque! Ducimus quas mollitia dolor voluptates reiciendis laboriosam, dolore voluptas, enim architecto voluptate similique.
                        Ea adipisci sunt, nesciunt inventore vero delectus? Consequuntur quidem ipsum molestias quas nulla dolorum corrupti voluptas dolore cupiditate, voluptates temporibus, earum iusto delectus? Tempora dicta, fuga magni assumenda beatae facere?
                        Commodi iste doloremque eaque tempore perferendis animi libero ad at, voluptatibus mollitia qui harum quia magnam illum voluptatem in necessitatibus, sint distinctio culpa amet reprehenderit consectetur adipisci! Soluta, minima fuga?
                        Amet illo animi libero mollitia. Quisquam tenetur fugit fugiat est. Soluta, numquam praesentium! Enim dicta, id fuga deserunt esse suscipit explicabo soluta voluptatem, laudantium voluptas iste aliquam ullam. A, incidunt.
                    </p>
                </li>
                <li>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio, quaerat odio? Perferendis id adipisci ducimus, qui labore minus in magni tenetur officiis, modi exercitationem. Ipsa dolore sequi officia doloremque minus.
                        Mollitia, magnam fugiat! Molestiae sint vero pariatur, quaerat corporis ex eos harum quis voluptatem suscipit! Omnis nesciunt harum autem aut odio, accusantium laboriosam voluptatem reiciendis eum aliquid optio ut facilis!
                        Sunt earum tempora aut nihil eligendi, id totam perferendis molestias itaque exercitationem vero ut architecto officia ducimus, dicta reiciendis soluta explicabo eveniet voluptas. Quidem cum deserunt non aspernatur adipisci doloribus!
                        Praesentium est ipsa eligendi quibusdam unde alias! Quod mollitia quisquam voluptates reiciendis tenetur nobis pariatur voluptas error molestiae necessitatibus ipsum rem rerum adipisci eius totam neque reprehenderit, unde perspiciatis. Voluptatem.
                        Ad quam aperiam autem repudiandae non? Laboriosam assumenda ab culpa veniam mollitia similique recusandae non cum voluptas cumque corrupti provident, suscipit aliquid error? Ducimus odio, accusantium praesentium quia ut dignissimos.
                        Dignissimos nemo debitis quis ducimus dolorum libero commodi. Ut sint aliquid facilis voluptatibus dignissimos, provident magni? Odio, corporis ipsum. Consequuntur deleniti voluptatibus sequi a quo saepe inventore atque rerum in.
                        Veritatis inventore voluptates consectetur sunt eum, id assumenda numquam quis nisi soluta libero fugiat nostrum quos debitis nihil aspernatur doloremque. Libero quibusdam harum eveniet hic consequuntur maiores similique. Quaerat, necessitatibus.
                        Inventore ad nam dolor consequatur aperiam facilis iusto ullam nostrum soluta voluptatum voluptatem, natus iste? Quod laboriosam minima porro maiores reprehenderit eius commodi dolore, distinctio non veritatis esse magni pariatur.
                        Similique veritatis accusantium ipsam amet iure, vel animi assumenda. Neque, natus! Cupiditate veritatis illum, voluptate dolor iusto, incidunt autem quisquam fuga reiciendis repellat alias maxime labore deserunt iure quos atque.
                        Quis optio, dolores quaerat facere voluptatem corporis animi recusandae dignissimos reprehenderit eveniet qui, ab ipsum. Consectetur laboriosam incidunt amet hic quas. Iure iusto eum magnam eligendi corporis aliquid vel labore!
                    </p>
                </li>
            </ol>
        </div>
    </div>
</div>
{% endblock %}
